{% extends 'base.html' %}

{% block conteudo %}
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CEP</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for contratante in contratantes %}
        <tr>
            <td>{{contratante.id}}</td>
            <td>{{contratante.nome}}</td>
            <td>{{contratante.email}}</td>
            <td>{{contratante.cep}}</td>
            <td>
                <a href="#">Editar</a>
                <a href="#">Remover</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}